<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome, {{name}}</h1>
  <p><a href="/">Logout</a></p>
  <div>{{data}}</div>

  <h2>Trails around you...</h2>

  <div>
    {% for trail in trails %}
    <h4>{{trail[0]}}</h4>
    {% endfor %}
  </div>

  <div class="button-container">
    <button onclick="location.href='/find_sport'">Find Sports</button>
    <button onclick="location.href='/add_review'">Write a Review</button>
  </div>
</body>


</html>
